body { 
    background-color: #bbb7b7;
}

.navbarbg{
    height:fit-content;
    width:100%;
    background-color: #FDFCFB;
}
.navbar {
    background-color: #FDFCFB;
    --bs-navbar-nav-link-padding-x: 0.9rem;
    padding: 1% 4%;
    
    
}

.nav-link {
    font-size: larger;
}
.nav-link:hover{
    color: #cb3136;
    font-style: italic;
    text-decoration: underline;
    transition: 0.3s;
}

.navbar-nav {
    margin-left: auto;
}
#img{
    width: -webkit-fill-available;
}
.m1{
    padding-left: 4%;

}

.h1 {
    color: #cb3136;
    text-shadow: 1px 2px 1px white;
    width: -webkit-fill-available;
    font-family: 'WorkSans-ExtraBold800', sans-serif;
    font-size: calc(25px + (45 - 25) * ((100vw - 375px) / (1600 - 375)));;
    padding-left: 5%;
    padding-top: 10%;
}
.renata{
    vertical-align: middle;
    width: -webkit-fill-available;
}

.row{
    --bs-gutter-x: 0,5rem;
}
.container-fluid{
    --bs-gutter-x: 0rem;
}



.introduction {
    color: #FDFCFB;
    font-family: 'Work Sans - Light 300', sans-serif;
    line-height: 1.5;
    font-size: x-large;
    padding-left: 5%;
    padding-top: 1%;
}
.shortcuts{
    background-color: #FDFCFB;
    width: 100%;
    height: 400px;
}
.col-lg-6{
    text-align: left;
    
}